$akrobatBlack:  "Akrobat-Black";
$akrobatBold:  "Akrobat-Bold";
$akrobatExBold:  "Akrobat-ExtraBold";
$akrobatExLight:  "Akrobat-ExtraLight";
$akrobatLight:  "Akrobat-Light";
$akrobatReg:  "Akrobat-Regular";
$akrobatSemBold:  "Akrobat-SemiBold";
$akrobatThin:  "Akrobat-Thin";
$robotoReg: "Roboto-Regular";