* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html, body {
  min-height: 100vh !important;
  height: 100%; }

.screen {
  min-height: 100vh; }

#curve {
  position: absolute;
  right: 0; }

.wrapper {
  padding-left: 273px;
  padding-right: 273px;
  margin: 0 auto; }

.relative {
  position: relative; }
