.header.header_page {
  max-height: 100%;
  width: 100%; }
  .header.header_page .wrapper {
    padding-top: 46px; }
    .header.header_page .wrapper .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      max-height: 40px;
      height: 40px;
      left: 0;
      width: 100%; }
      .header.header_page .wrapper .nav.active {
        z-index: 100;
        top: 0;
        position: fixed;
        margin-top: 0;
        padding-left: 273px;
        padding-right: 273px;
        max-height: 100px;
        height: 100px;
        display: flex;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.49);
        align-items: center;
        background-color: #fff; }
      .header.header_page .wrapper .nav .nav__panel {
        display: flex;
        list-style-type: none;
        margin-right: 88px; }
        .header.header_page .wrapper .nav .nav__panel .panel__tab:not(:first-child) {
          margin-left: 40px; }
        .header.header_page .wrapper .nav .nav__panel .panel__tab .tab__link {
          display: inline-block;
          color: #6c6c6c;
          font-family: "Akrobat-SemiBold";
          font-size: 22px;
          font-weight: 400;
          text-decoration: none; }
          .header.header_page .wrapper .nav .nav__panel .panel__tab .tab__link.current {
            color: #ff0032;
            border-bottom: 3px #ff0032 solid;
            padding-bottom: 11px; }
  .header.header_page .page__label {
    display: flex;
    align-items: center;
    height: calc(100vh - 90px);
    width: 100%; }
    .header.header_page .page__label.flex {
      display: flex; }
    .header.header_page .page__label .decor__circle {
      background-image: url("../../public/img/decor_center.png");
      background-repeat: no-repeat;
      left: 30px;
      height: 577px;
      width: 100%;
      position: absolute; }
    .header.header_page .page__label .label__wrapper {
      z-index: 10; }
      .header.header_page .page__label .label__wrapper .info__block {
        width: 100%; }
        .header.header_page .page__label .label__wrapper .info__block .block__title {
          text-transform: uppercase;
          color: #ff0032;
          line-height: 167.27px;
          font-family: "Akrobat-ExtraBold";
          font-size: 167px;
          font-weight: 400; }
        .header.header_page .page__label .label__wrapper .info__block .block__wall {
          display: inline-block;
          width: 6px;
          height: 157px;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.11);
          border-radius: 3px;
          background-color: #ffffff;
          vertical-align: bottom; }
        .header.header_page .page__label .label__wrapper .info__block .block__subtitle {
          color: #6c6c6c;
          font-family: "Akrobat-Regular";
          font-size: 50px;
          font-weight: 400;
          line-height: 50px;
          text-transform: uppercase;
          padding-left: 45px;
          padding-right: 45px;
          position: absolute;
          bottom: 50px; }
      .header.header_page .page__label .label__wrapper .title {
        margin-top: 6px;
        margin-bottom: 6px;
        color: #000000;
        font-family: "Akrobat-SemiBold";
        font-size: 40px;
        font-weight: 400;
        line-height: 47px; }
    .header.header_page .page__label .decors__left {
      margin-right: 100%; }
